@media (orientation: portrait) and (max-width: 800px) {
    html, body {
      background: black;
      height: 100%;
      width: 100%;
    }
    .main{
      display:none
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }


    .phone{
      display:block;
      height: 50px;
      width: 100px;
      border: 3px solid white;
      border-radius: 10px;
      animation: rotate 1.5s ease-in-out infinite alternate;
    }
    
    .message{
      display:block;
      color: white;
      font-size: 1em;
      margin-top: 40px;
    }
    
    @keyframes rotate {
      0% {
            transform: rotate(0deg)
        }
        50% {
            transform: rotate(-90deg)
        }
        100% {
            transform: rotate(-90deg)
        }
    }
    }
    @media (orientation: landscape) and (max-width:1000px){
    body{
     
      background-image: url(images/gradient-forest-landscape.jpg.avif);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .phone{
      display:none
    }
    .message{
      display:none
    }
    .container{
      display:flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top:15px
  }

  .container .title p:first-child {
    /*color: #FF7F50;*/
    /*color:#F88379;*/
    color:#F04A00;
    opacity: 0.8;
    font-size:60px;
    text-shadow: 2px 20px 25px lightyellow;
   
    
}
  .animate__animated.animate__bounceInDown{
    --animate-duration: 3s;
    color:#F04A00;
    opacity:0.9;
    font-size:65px;
    text-shadow: 2px 20px 25px lightyellow;
  
}
  button{
    width:65px;
    height:65px;
    border-radius:50%;
    opacity:0.8;
    box-shadow: 2px 20px 25px lightyellow;
    border: 1px;
    position:relative
}

.play_right {
  /* Background pattern from Subtle Patterns */
 
  font-family: "Jelantik";
  /*one Em roughly ten pixels (16 x 62.5% = 10)*/
  font-size: 33.5%;
  letter-spacing: 1.5px;
  margin: 0;
  text-align: center;
}
.deck{
  width:35em;
  height: 35em;
}
.card {
  height: 5em;
  width: 5em;
}
}