*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Jelantik;
    src: url(Jelantik\ demo.ttf);
}
body{
    background-image: url(images/gradient-forest-landscape.jpg.avif);
    background-size: 100%;
    background-repeat: no-repeat;
}


.bubbly-button:hover{
  width:70px;
  transition:0.5s;
  height:70px;

}

.tooltip {
  position: absolute;
  display: none;
  bottom : 110%;
  padding: 10px;
  background-color: #333;
  border-radius: 11px;
  font-family: Jelantik;
  font-size: 40px;
  color: #eee;
  animation: moveup 0.1s linear;
}
.tooltip:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 20%;
  border-top: 6px solid #333;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}

.bubbly-button:hover > .tooltip {
  display: block;
}

@keyframes moveup {
  0% {
    transform: translateY(10px) rotate(25deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}


.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top:135px
}
.container .title p:first-child {
    /*color: #FF7F50;*/
    /*color:#F88379;*/
    color:#F04A00;
    opacity: 0.8;
    font-size:200px;
    text-shadow: 2px 20px 25px lightyellow;
   
    
}

.animate__animated.animate__bounceInDown{
    --animate-duration: 3s;
    color:#F04A00;
    opacity:0.9;
    font-size:240px;
    text-shadow: 2px 20px 25px lightyellow;
    
  }
.animate_animated.animate__backInLeft{
    --animate-duration: 3s;
}
.buttons{
    display:flex;
    justify-content: center;
    text-align: centeer;
    margin-top:20px
}



button{
    width:65px;
    height:65px;
    border-radius:50%;
    opacity:0.8;
    box-shadow: 2px 20px 25px lightyellow;
    border: 1px;
    position:relative
}

button:nth-child(2), button:nth-child(3), button:nth-child(4), button:nth-child(5){
    margin-left:15px
}

.bubbly-button {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 2px 20px 25px lightgoldenrodyellow
  }

  .bubbly-button:focus {
    outline: 0;

  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;

  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 40%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 40%, transparent 30%), radial-gradient(circle, #ff0081 40%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 20% 20%, 30% 30%, 20% 20%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 30% 30%, 18% 18%;
  }

  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 30% 30%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }

  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }

  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 10% 10%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  
  .modal-content {
    position: relative;
    background-color: gainsboro;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius:25px
  }
  

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
 .modal{
  font-size: 50px;
 }
  .close {
    color: white;
    float: right;
    font-family:Jelantik;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
.modal2{
  border-radius:25px;
  
}

  .modal-body2 {
    padding: 2px 16px;
    background-color: #C8C8C8;
    color: beige;
    font-family:Jelantik;
    font-size:30px;
    border-radius:25px;
    box-shadow: 2px 20px 25px lightyellow;
    border: 1px;

  }

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  

  .modal-content2 {
    position: relative;
    background-color: gainsboro;
    margin: auto;
    padding: 0;
    border: 1px solid beige;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius:25px
  }
  
 
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close2 {
    color: white;
    float: right;
    font-family:Jelantik;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal{
   border-radius:25px;
  
}

  .modal-body {
    padding: 2px 16px;
    background-color: #ebd6d9;
    color: #e75480;
    font-family:Jelantik;
    font-size:16px;
    border-radius:25px;
    box-shadow: 2px 20px 25px #fadadd;
    border: 1px;

  }
  
  h1 {
    font-family:sans-serif;
    font-size:1em;
    margin-bottom:0;
  }
  
  table {  
    font-family:sans-serif;
    th, td {
      padding:.25em .5em;
      text-align:left;
      &:nth-child(2) {
        text-align:right;
      }
    }
    td {
      background-color:#eee;    
    }
  }

  .main{
    display:flex; 
    flex-direction: column;
  }








  .play_right {
    /* Background pattern from Subtle Patterns */
   
    font-family: "Jelantik";
    /*one Em roughly ten pixels (16 x 62.5% = 10)*/
    font-size: 62.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
  }
  
  ul > li {
    list-style: none;
  }
  
  .card,
  .reset-btn {
    cursor: pointer;
  }
  
  .btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
  }
  
  /*----------------------------------  
  Header
  ------------------------------------*/
  
  h1 {
    font-size: 3em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.5em;
    font-weight: 600;
  }
  
 
  
  h3 {
    font-weight: 400;
  }
  
  /*----------------------------------  
  Section - Score Panel
  ------------------------------------*/
  
  .score-panel {
    font-size: 1.4em;
    padding: 1em 0 2em;
  }
  
  .star-rating > li {
    display: inline-block;
    padding: 0.5em;
  }
  
  .moves-counter {
    padding: 0.5em;
    font-size: 30px;
    color:lemonchiffon
  }
  .moves{
    font-size: 30px;
    color:lemonchiffon
  }
  
  .reset-btn {
    background: #000;
  }
  
  .timer-container {
   
    border-radius: 0.5em;
    color: #000;
    padding: 0.5em;
  }
  
  .timer {
    font-size: 30px;
    color:lemonchiffon
  }
  
  /*----------------------------------  
  Section - Modal
  ------------------------------------*/
  /*
  Help with the modal from
  https://www.w3schools.com/howto/howto_css_modals.asp
  */
  
  /* Modal (background) */
  .modalgame {
    /*Hidden by default */
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgb(46, 61, 73);
    /* With opacity */
    background-color: rgba(46, 61, 73, 0.6);
  }
  
  /* Modal Content/Box */
  .modalgamecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFACD;
    /* 5% from the top and centered */
    margin: 5% auto;
    border: 0.8em solid lightgoldenrodyellow;
    padding-right: 2em;
    width: 80%;
    border-radius: 15px;
  }
  
  /* The Close Button */
  .close {
    align-self: flex-end;
    color: lightcyan;
    font-size: 5em;
  }
  
  .close:hover,
  .close:focus {
    color: lightcyan;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Modal Image*/
  .modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
  }
  
  p.stats {
    font-weight: 600;
  }
  
  p.stats:last-child {
    margin-bottom: 1em;
  }
  
  .play-again-btn {
    background: #ff0081;
    margin-bottom: 1em;
    width:100px;
    height:80px
  }
  
  /*----------------------------------  
  Deck of Cards
  ------------------------------------*/
  /*Mobile first responsivness*/
  .deck {
    /*background: linear-gradient(to bottom, #5cf, #28e);*/
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 35em;
  }
  
  .deck,
  .card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  .card {
    background:#F3EAAF;
    
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
  }
  
  /*
  To disable the color highlight if and img is clicked
  https://stackoverflow.com/questions/21107439/disable-or-change-firefoxs-element-image-highlight-color
  */
  img {
    user-select: none;
    width: 6em;
  }
  
  .deck img {
    visibility: hidden;
  }
  
  .deck .card.flip {
    
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
  }
  
  .flip img {
   
    visibility: visible;
  }
  
  .deck .card.match {
   
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
  }
  
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /*---------------------------------- 
  Footer
  ------------------------------------*/
  
  .footer {
    color: #666;
    margin-bottom: 2em;
  }
  
  .footer > p {
    font-size: 1em;
    padding: 1em;
  }
  
  .footer a:link,
  .footer a:visited {
    color: #F3EAAF;
    text-decoration: none;
  }
  
  /*---------------------------------- 
  Media Queries
  ------------------------------------*/
  
  /*--Tablets-------------------------*/
  @media screen and (min-width: 550px) {
  
    .deck  {
      height: 50em;
      padding: 2em;
      width: 50em;
    }
  
    .card {
      height: 10em;
      width: 10em;
    }
  
    .deck img {
      width: 9em;
    }
  
    .modalgamecontent h2 {
      font-size: 4em;
    }
  
    .play-again-btn {
      font-size: 1.8em;
    }
  }
  
  /*---------------------------------- 
  Desktops
  ------------------------------------*/
  @media screen and (min-width: 800px) {
    
    h1 {
      font-size: 6em;
    }
  
    p {
      font-size: 2.3em;
    }
  
    .deck  {
      height: 55em;
      width: 55em;
    }
  
    .card {
      height: 12em;
      width: 12em;
      box-shadow: 1px 1px 1px lightyellow;
    }
  
    .deck img {
      width: 13em;
    }
  
    .reset-btn {
      font-size: 0.8em;
    }
  
    .footer {
      font-size: 1.2em;
    }
    
    .modalgamecontent h2 {
      font-size: 5em;
    }
  
    /* Modal Image*/
    .modal-img {
      width: 30em;
    }
  
    .play-again-btn {
      font-size: 2em;
    }
  }





  #result{
    display:none
  }

  input {
	
    border:2px solid rgba(255,255,255,.5);
    font-size:1.75em;
    padding:.25em .5em .3125em;
    color:rgba(255,255,255,.5);
    border-radius:.25em;
    background:transparent;
    transition:all .100s;
    
    &:focus{
      outline:none;
      color:rgba(255,255,255,.75);
      border-color:rgba(255,255,255,.75);
    }
    
    &.keyup {
      color:white;
      border-color:white;
      text-shadow:0 0 .125em white;
      box-shadow:0 0 .25em white,inset 0 0 .25em white;
    }
  }
  
  
  canvas {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    pointer-events:none;
  }
  
  input {
    font-family: "Jelantik";
  }
  

  
  ::-webkit-input-placeholder {
   
    text-shadow:0 0 .125em transparent;
    transition:all .25s;
  }
  input:focus::-webkit-input-placeholder {
    opacity:.5;
  }
  
  ::-moz-placeholder {
    color: $placeholder-color;
    text-shadow:0 0 .125em transparent;
    transition:all .25s;
  }

  input:focus::-moz-placeholder {
    opacity:.5;
  }
  
  :-ms-input-placeholder {
    color:$placeholder-color;
    text-shadow:0 0 .125em transparent;
    transition:all .25s;
  }
  input:focus:-ms-input-placeholder {
    opacity:.5;
  }
  
  input {
    box-sizing:border-box;
    bottom: 4em;
    left:50%;
    width:11em;
  }
  

  
  
  
  
  
  