*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Jelantik;
    src: url(Jelantik\ demo.ttf);
}
body{
    background-image: url(images/gradient-forest-landscape_52683-77405.jpg.avif);
    background-size: 100%;
    background-repeat: no-repeat;
    

}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container .title p:first-child{
    /*color: #FF7F50;*/
    /*color:#F88379;*/
    color:#FF5F1F;
    opacity: 0.8;
    font-size:100px;
    margin-top:150px;
    text-shadow: 0px 4px 0px lightyellow;
}
.animate__animated.animate__bounceInDown{
    --animate-duration: 3s;
    color:#FF5F1F;
    opacity:0.9;
    font-size:150px;
    text-shadow: 0px 4px 0px lightyellow;
  }



