*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #1B3764;
}

.head_header{
    padding-left:70px;
    padding-right:70px;
    padding-top:35px;
    display: flex;
    flex-direction: row;
}

.head_header > div.icons{
    padding-left:35px;
    padding-right:150px;
    display:flex;
    padding-top:-35px;
    flex-direction: row;
    justify-content: space-between;
   
}

.direction_links{
    padding-top:20px;
    display:flex;
}
.direction_links p:first-child{
    color: #FFCA42;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    letter-spacing: 0.17px;
    padding-right: 47px

}

.direction_links p:nth-child(2){
    color: #F6F8FC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    letter-spacing: 0.17px;
    padding-right:48px
}

.direction_links p:nth-child(3){
    color: #F6F8FC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    letter-spacing: 0.17px;
    padding-right:60px
}

.direction_links p:nth-child(4){
    color: #F6F8FC;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; /* 150% */
    letter-spacing: 0.17px;
}

.header_rest div:nth-child(1) div:nth-child(1){
    display:flex;
    padding-top:279px;
    padding-left:93px
}
.header_rest div:nth-child(1) div:nth-child(1) p{
    color: #FFF;
    font-family: Cardo;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 171.429% */
    letter-spacing: 1.2px;
    text-transform: capitalize;
    padding-left:14px
}


