*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    padding-left:98px;
    padding-right:98px;
    padding-top:40px
}

header div{
    background-color: yellow;
   display:flex

}    
    
.about{
    padding-left:600px;

}
.about div:first-child{
    padding-right: 20px;
    
}
.about div p{
    font-family: 'M PLUS 1p', sans-serif;
}
.about div:nth-child(2){
    padding-left:20px;
    padding-right:40px
}

.personal{
    padding-left:200px
}

.personal img[src*="Vector"]{
    padding-right:30px
}


